@font-face{
  font-family: 'SF-Pro-Display';
  font-style: normal;
  src:local("SF-Pro-Display"), url(./fonts/SF-Pro-Display-Regular.otf);
}

@font-face{
  font-family: 'Google Sans';
  font-style: normal;
  src:local("GoogleSans-Regular"), url(./fonts/GoogleSans-Regular.ttf);
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;

  font-family: SF-Pro-Display;
}

*, *::before, *::after {
  box-sizing: border-box;
}
